<br />
<h3>About</h3>
<p>
I'm a Software Engineer living and working in Silicon Valley.  Here you can find my Resume, project work, blog and some of my travel photography.
</p>
<p>

</p>
<p>
  Send me an email at: <a href="mailto:patrick.murray@lucid3.org"><u>patrick.murray@lucid3.org</u></a>
</p>
<p><a href="/resume">Peruse my resume &rarr;</a></p>

<h3>Projects</h3>
<p>
  Coding projects of mine. 
</p>
<p><a href="/projects">Check out my projects &rarr;</a></p>

<h3>Blog</h3>
<p>
  All about my latest work.
</p>
<p><a href="/blog">Read my blog &rarr;</a></p>

<h3>Photography</h3>
<p>
  
</p>
<p><a href="https://secure.flickr.com/photos/lucid3" target="_blank">Check out my photos &rarr;</a></p>
